<div class="gallery">
<div thrwrap class="wrap" id="wrap">
    <div thephoto *ngFor="let item of list" (click)="turn($event)" class="photo photo-front"  id="photo_{{item.id}}"><!--控制2D位置、旋转-->
                <div class="photo-wrap"><!--控制3D翻转-->
                    <div class="side side-front">
                        <p class="image">
                            <img src="{{item.src}}" alt="{{item.title}}">
                        </p>
                        <p class="caption">{{item.caption}}</p>
                    </div>
                    <div class="side side-back">
                        <p class="desc">{{item.desc}}</p>
                    </div>
                </div>
    </div>
    <nav id="nav" class="nav">
        <span *ngFor="let item of list" id="{{item.id}}" class="i" (click)="onNav($event)" ></span>
    </nav>
</div>
<div>
