.headbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 400px;
    background-color:#57D1C9;
    box-shadow: 0 5px 15px #aaaaaa;


    



    .self,.img,.mask,.border{
        width:180px;
        height: 180px;
        border-radius: 50%;
    }
    
    .self{
        position: relative;
        display: block;
    }
    .img{
        background-size: cover;
    }
    .mask,.border{
        position:absolute;
        left:0;
        top:0;
    }
    .mask{
        text-align: center;
        transition: all .5s ease-in;
    }
    .info{
        margin-top: 50%;
        transform: translateY(-30%);
        color:rgba(255,255,255,0);
        transition: all .5s ease-in;
    }

    .border{
        border: 10px solid #F2F062;
        border-left-color: #F03861;
        border-right-color: #F03861;
        box-sizing: border-box;
        transition: all .5s ease-in;
    }
    .self:hover .mask{
        background-color: rgba(0,0,0,.5);
        color:rgba(255,255,255,1);
    }
    .self:hover .border{
        transform:rotate(180deg);
    }
    .self:hover .info{
        color:rgba(255,255,255,1);
    }
        
    
  
    span{        
        
        color: #FFFFFF;
        font-size: 60px;
    }
    nav{
        margin-top: 20px;
        position: relative;
        display: flex;
        flex-direction: row;

        a:hover,a:visited,a:visited,a:active{
            text-decoration: none;
        }

    
        a{  
            .list{
                text-align: center;
                display: inline-block;
                color: #FFFFFF;
                border: solid 1px #FFFFFF;
                font-size: 30px;
                text-decoration:none;
                margin-right: 20px;
                margin-left: 20px;
                width: 120px;
                position: relative;
                text-decoration: none;
            }
            .list:before{
                content: "";
                position: absolute;
                left: 50%;
                bottom: -2px;
                width: 0;
                height: 3px;
                background: #4285f4;
                transition: all .3s;
            }
            .list:hover:before{
                width: 100%;
                left: 0;
                right: 0;
            }          
        }
    }
}


