 div {
     width: 100%;
     margin-top: 30px;
     .article-detail {
         height: 100%;
         width: 70%;
         padding: 10px 50px;
         margin: 0 auto;
         box-sizing: border-box;
         overflow: hidden;
         background-color: white;
         box-shadow: 3px 3px 4px #aaaaaa;
         display: flex;
         flex-direction: column;
         align-content: center;
         .title {
             margin: 20px auto;
         }
         .content {
             p {
                 line-height: 200% !important;
             }
         }
     }
 }