/* global styles*/
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}   //上面四个样式用于消除scroll bar出现造成的页面跳动

body{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'SimSun', 'Droid Sans Fallback', sans-serif;
}

app-root{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    lab-main{
        a{
            position: relative;
            z-index: 100000; 
        }    
    }
    
    
    headbar{
        /* 采用固定的高度，只占用必须的空间 */
        /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
        flex: 0 0 auto;
        z-index: 10;
    }

    intro{
        /* 将 flex-grow 设置为1，该元素会占用所有的可使用空间
            而其他元素该属性值为0，因此不会得到多余的空间*/
        /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
        flex: 1 0 auto;
    }

    article-list{
        flex: 1 0 auto;
    }

    article-detail{
        flex: 1 0 auto;
    }

    lab-main{
        flex: 1 0 auto;
    }


    footbar{
        /* 和 header 一样，footer 也采用固定高度*/
        /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
        flex: 0 0 auto;
        z-index:100;
    }

}

//MD样式放在全局，放在子页面无效，可能由于动态渲染
blockquote{
    padding: 20px;
    margin-bottom: 25px;
    background-color: #f7f7f7;
    border-left: 6px solid #b4b4b4;
    word-break: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
pre{
    background-color: #625772;
    color:#FEFAEC;
    border-radius:5px;
    padding:10px 30px;
    code{
        font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
    }
    
}  