<div class="menu">
    <div class="catelog">文章</div>
    <a><i class="fa fa-server"></i>总览</a>
    <a><i class="fa fa-tag"></i>标签</a>
    <a><i class="fa fa-folder"></i>归档</a>
    <a (click)="isVisible = !isVisible"><i class="fa fa-key"></i>发表</a>
</div>
<div class="wrapper" [style.display]="isVisible ? 'flex' : 'none'">
    <div class="verify">
        <div class="tip">请输入密码</div>
        <input type="password" placeholder="contact admin for password" id="pwd" />
        <div [style.visibility]="visi">{{tip}}</div>
        <div class="button">
            <button (click)="toCheck($event)" >确定</button>
            <button (click)="isVisible = !isVisible">取消</button>
        </div>
    </div>
</div>